@media screen and (max-width: 1309px) {
    .logo {
        margin-right: 5%;
    }

    .header__top {
        max-width: 670px;
    }

    .header__top__currency {
        margin-right: 270px;
    }

    .content {
        margin: 70px 60px;
    }
}

@media screen and (max-width: 1120px) {
    .search {
        margin-left: 5%;
    }

    .logo {
        margin-right: 0;
    }

    .content {
        margin: 70px 30px;
    }
}

@media screen and (max-width: 1050px) {
    .nav-link {
        margin: auto 15px;
    }

    .logo {
        margin-right: 30px;
    }

    .content__text {
        font-size: 14px;
    }

    .footer__contact {
        font-size: 10px;
    }

    .footer__column__title {
        font-size: 13px;
    }

    .footer__link {
        font-size: 12px;
    }

    .footer__column {
        margin-left: 50px;
    }

}

@media screen and (max-width: 999px) {
    .nav-link {
        margin: auto 10px;
    }

    .content__address {
        font-size: 12px;
    }

    .content__city {
        font-size: 16px;
    }
}

@media screen and (max-width: 925px) {
    .logo {
        margin-right: 25px;
    }

    .nav-link {
        font-size: 10px;
    }

    input {
        height: 25px;
    }

    .black__card {
        font-size: 30px;
    }
}

@media screen and (max-width: 899px) {
    .button {
        font-size: 13px;
    }
    .content {
        margin: 70px 20px;
    }
    .content__card {
        width: 270px;
    }
    .content__city {
        font-size: 14px;
    }
    .content__address {
        font-size: 10px;
    }
    .content__text {
        font-size: 13px;
    }
}

@media screen and (max-width: 831px) {
    .nav-link {
        margin: auto 5px;
    }
    .search {
        margin-left: 10%;
    }
}

@media screen and (max-width: 785px) {
    .nav-link {
        margin: auto 4px;
    }
    .logo {
        font-size: 20px;
    }
    .content__text {
        font-size: 11px;
    }
    .content__card {
        width: 230px;
    }
    .content__address {
        font-size: 12px;
    }
    .content__city {
        font-size: 16px;
    }
}